# Cocos Creator 项目相关
/build/
/library/
/temp/
/local/
*.log
*.sqlite

# npm 相关
node_modules/
npm-debug.log

# IDE 和编辑器相关
.idea/
.vscode/
*.sln
*.csproj
*.pidb
*.suo
*.unityproj

# 操作系统生成的文件
.DS_Store
Thumbs.db
ehthumbs.db

# WebStorm 文件
.idea/

# 调试相关文件
*.log
*.sql
*.sqlite

# 其他临时文件
*.bak
*.cache
*.ilk